body {
  background:white;
}

/*
//////// OVERVIEW SECTION //////////////////////////////////////////////
*/
.overview-grid {
  display: grid;
  grid-gap: 2em;
  grid-template-rows: 8fr 2fr;
  height: max-content;
}

.ov-top-row, .ov-bottom-row {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: 2fr 1fr;
}

.style-grid {
  display: grid;
  grid-template-rows: 4em 4em;
  grid-template-columns: 4em 4em 4em 4em;
  grid-gap: 1em;
  height: auto;
}

.style-thumbnail {
  border: 1px solid #000;
  border-radius: 50%;
  height: 4em;
  width: 4em;
  object-fit: cover;
  cursor: pointer;
}

.style-container {
  position: relative;
}

.ov-padding-verticle {
  padding-top: 5%;
  padding-bottom: 5%;
}

.ov-all-cap {
  text-transform: uppercase;
}

.ov-bold {
  font-weight: bold;
}

/*
//////// QNA SECTION //////////////////////////////////////////////
*/
.qa-bar {
  width: 100%;
  height: 50px;
  padding-left: 20px;
}

.qa-paddingleft {
  padding-left: 10%;
  padding-right: 10%;
}

.qa-paddingbottom {
  padding-bottom: 1em;
}

.qa-paddingtop {
  padding-top: 1em;
}

.qa-bold {
  font-weight: bold
}

.qa-qhelpful {
  float:right;
}

.qa-underline {
  text-decoration: underline;
}

.qa-userhelpful {
  padding-bottom: 3em;
}

.qa-float {
  float:left;
  padding-right: 10px;
}