body {
  background:white;
}

/*
//////// OVERVIEW SECTION //////////////////////////////////////////////
*/

/* Overview Layout */
.overview-grid {
  display: grid;
  grid-gap: 2em;
  grid-template-rows: 8fr 2fr;
  height: max-content;
  width: auto;
}

.ov-top-row-default, .ov-bottom-row {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: 2fr 1fr;
  min-width: 1200px;
}

/* Image Gallery Styling*/
.ov-img-view-container {
  text-align: center;
  height: 620px;
  width: auto;
  position: relative;
}

.ov-main-img-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ov-thumbnails-list-container {
  z-index: 5;
  position: absolute;
}

/* .ov-img-thumbnail {
  z-index: 1;
} */

.ov-thumbnails-list {
  text-align: center;
}

.ov-thumbnails-list ul {
  display: inline-block;
  list-style: none;
  padding: 0px;
}

.ov-thumbnail-container {
  height: 70px;
  width: 70px;
  margin-top: 6px;
}

.ov-left-btn, .ov-right-btn {
  position: absolute;
  top: 50%;
}

.ov-left-btn {
  left: 90px;
}

.ov-right-btn {
  right: 0;
}

/* Style styling*/
.style-container {
  position: relative;
}

.style-grid {
  display: grid;
  grid-template-rows: 4em 4em;
  grid-template-columns: 4em 4em 4em 4em;
  grid-gap: 1em;
  height: auto;
}

/* Images styling */
.style-thumbnail, .ov-img-thumbnail {
  border: 1.5px solid rgb(65, 64, 64);
  height: 4em;
  width: 4em;
  object-fit: cover;
  cursor: pointer;
}

.style-thumbnail {
  border-radius: 50%;
}

.ov-main-img {
  max-height: 100%;
  max-width: 100%;
  /* height: 600px;
  width: auto; */
  /* max-width: 750px; */
  object-fit: contain;
}

.ov-top-row-default .ov-main-img:hover {
  cursor: zoom-in;
}
.ov-main-img:hover {
  cursor: zoom-out;
}

/* Text styling*/
.ov-all-cap {
  text-transform: uppercase;
}

.ov-bold {
  font-weight: bold;
}

/* Other styling*/
.ov-btn {
  /* border-style: none; */
  background-color: rgba(0, 0, 0, 0);
  height: 2em;
}

.ov-border {
  border: 1px solid rgb(66, 63, 63);
}

.ov-padding-verticle {
  padding-top: 5%;
  padding-bottom: 5%;
}

.ov-thumbnail-selected {
  border-bottom: 2px solid rgb(45, 43, 43);
}

/* .ov-product-feature ul {
  list-style: '√';
} */

/*
//////// QNA SECTION //////////////////////////////////////////////
*/
.qa-bar {
  width: 100%;
  height: 50px;
  padding-left: 20px;
}

.qa-paddingleft {
  padding-left: 10%;
  padding-right: 10%;
}

.qa-paddingbottom {
  padding-bottom: 1em;
}

.qa-paddingtop {
  padding-top: 1em;
}

.qa-bold {
  font-weight: bold
}

.qa-qhelpful {
  float:right;
}

.qa-underline {
  text-decoration: underline;
}

.qa-userhelpful {
  padding-bottom: 3em;
}

.qa-float {
  float:left;
  padding-right: 10px;
}